{% extends 'base.html' %}

{% block title %}Teacher Dashboard{% endblock %}

{% block content %}
    <h1>Welcome, {{ user.username }}!</h1>

    <div class="card" style="width: 18rem; display: inline-block; margin-right: 20px;">
        <div class="card-body">
            <h5 class="card-title">Take Attendance</h5>
            <p class="card-text">Click here to take attendance.</p>
            <a href="{% url 'student_list' %}" class="btn btn-primary">Take Attendance</a>
        </div>
    </div>

    <div class="card" style="width: 18rem; display: inline-block;">
        <div class="card-body">
            <h5 class="card-title">View Attendance</h5>
            <p class="card-text">Click here to view attendance.</p>
            <a href="{% url 'view_attendance' %}" class="btn btn-primary">View Attendance</a>
        </div>
    </div>
{% endblock %}
